.header__nav {
  width: 800px;
  background-color: rgb(91, 45, 141);
  box-shadow: rgba(91, 45, 141, 0.7) 0px 5px 20px 4px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.header__container {
  width: 100%;
  padding: 15px;
  display: flex;
  position: relative;
}

.header__menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  width: 100%;
  list-style: none;
  text-transform: uppercase;
  font-size: large;
}

.header__logo {
  width: 80px;
  border-radius: 50%;
  position: absolute;
  left: -100px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.6);
}

.header__item {
  text-decoration: none;
  color: white;
  border: solid 2px rgb(255, 0, 191);
  border-radius: 10px;
  padding: 5px;
  transition: all 0.4s ease-in-out;
}

.header__item:hover {
  border: 2px solid rgb(0, 200, 255);
  color: tomato;
}

.active {
  color: red;
}
