.header__nav {
  width: 100%;
  background-color: rgb(91, 45, 141);
  box-shadow: rgb(6, 182, 32) 0px 55px 20px 4px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.header__container {
   text-align: justify;
    letter-spacing: 1px;
    height: 8em;
    padding: 2em 10%;
    background: #0b0f12;
    color: #fff;
}

.header__menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  width: 100%;
  list-style: none;
  text-transform: uppercase;
  font-size: large;
}

.header__logo {
  width: 80px;
  border-radius: 50%;
  position: absolute;
  left: -100px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.6);
}

.header__item {
  text-decoration: none;
  color: white;
  border: solid 2px rgb(7, 224, 21);
  border-radius: 10px;
  padding: 5px;
  transition: all 0.4s ease-in-out;
}

.header__item:hover {
  border: 2px solid rgb(9, 199, 168);
  color: tomato;
}

.active {
  color: red;
}
